<!DOCTYPE html>
<html>
<head>
<title>Acknowledgement</title>
</head>
<body>
<h4>These are the data from the user entry page, which can be manipulated in this html file's javascript.</h4>
<script>
 
var queryString = decodeURIComponent(window.location.search);
queryString = queryString.substring(1);
var queries = queryString.split("&");
for (var i = 0; i < queries.length; i++)
{
  document.write(queries[i] + "<br>");
}
 
function goToHome() {
  	window.location.href = "../";
}


</script>

<button onclick="goToHome()">Go to the Home Page</button>
</body>
</html>