<!DOCTYPE html>
<html>
<head>
<title>Acknowledgement</title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="/stylesheets/Website.css">

		<h1 class="header" id="name">
            Choose a Document
        </h1>
		<h3>
		<img id ="paper" src="/old-stained-paper-texture-free.jpg" width="1920" height="1080" alt="paper">
		</h3>

<button class="choose" onclick="goToUserEntry('constitutionPreamble')">Constitution Preamble</button>
<button class="choose" onclick="goToUserEntry('declarationPreamble')">Declaration of Independence Preamble</button>
<button class="choose">???</button>
<button class="choose">???</button>
<button class="choose">???</button>
<button class="choose">???</button>


<script>
    function goToUserEntry(docName) {
        window.location.href = "../userEntry/?doc=" + docName;
    }
</script> 
<p>
	
















</p>
</body>
</html>