<!doctype=html>
<html lang=en>
    <head>
        <!--insert code about formating-->
        <meta charset = utf-8>
        <!--link your css and javas-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/Website.css">
        <title>
            GAPS IN HISTORY
        </title>
    </head>
    <body>
        <h1 class="header" id="name">
            GAPS IN HISTORY
        </h1>
        <h2>
            <a href="Documents.html" title="Documents" alt="Documents"><button class="header" id="Documents">Documents</button></a>
        </h2>
        <h2>
            <a href="Reimagine.html" title="Reimagine" alt="Reimagine"><button class="header" id="Reimagine">Reimagine</button></a>
        </h2>
        <h2>
            <a href="Result.html" title="Result" alt="Result"><button class="header" id="Result">Result</button></a>
        </h2>
        <h2>
            <a href="Share.html" title="Share"  alt="Share"><button class="header" id="Share">Share</button></a>
        </h2>
        <h3>
        <img id ="avatar" src="/Abraham_Lincoln%20copy.jpg" width="230" height="230" alt="Abe">
        <img id ="paper" src="/old-stained-paper-texture-free.jpg" width="330" height="330" alt="paper">
        </h3>
        <h5>
            Would you like to reimagine history? Try filling in some famous landmark documents with <i>unbelievable</i> details!
        </h5>
	   <button onclick="goToUserEntry()">Go to User Entry Page</button>

  	     <script type="text/javascript">
  		    function goToUserEntry() {
  		 	window.location.href = "userEntry";
  		    }

  	     </script>
    </body>
</html>