<!DOCTYPE html>
<html>
<head>
<title>Acknowledgement</title>
</head>
<body>


<input type="text" id="1">
<input type="text" id="2">
<input type="text" id="3">
<input type="text" id="4">
<input type="text" id="5">
<button onclick="myFunction()">Click</button>


<script>
    function myFunction() {
        var value1=document.getElementById("1").value;
        var value2=document.getElementById("2").value;
        var value3=document.getElementById("3").value;
        var value4=document.getElementById("4").value;
        var value5=document.getElementById("5").value;
        var queryString = "?para1=" + value1 + "&para2=" + value2 + "&para3=" + value3 + "&para4=" + value4 + "&para5=" + value5;
        window.location.href = "test2/" + queryString;
    }
</script> 
</body>
</html>