<!DOCTYPE html>
<html>
<head>
<title>Acknowledgement</title>
</head>
<body>

<style>
.bar {
    overflow-x: hidden;
}

.container {
    display: table;
}

.contents {
    display: table-cell;
    vertical-align: middle;
}
</style>

<link rel="stylesheet" type="text/css" href="/stylesheets/Website.css">

		<h1 class="header" id="name">
            GAPS IN HISTORY
        </h1>
		<h3>
		<img id ="paper" src="/old-stained-paper-texture-free.jpg" width="1920" height="1080" alt="paper">
		</h3>


<div id="fields">
</div>

<button onclick="displayDocument()" id="changeHistory">Change History</button>

<div style="object-position:center">
	<!-- <div class="container">
		<div class="contents"> -->

<script>

	var queryString = decodeURIComponent(window.location.search);
	docName = queryString.substring(5);
	console.log(docName);
	var br = document.createElement("BR");

	switch(docName) {
		case "constitutionPreamble":

			// People
			var in1 = document.createElement("INPUT");
			in1.id = "1";
			in1.placeholder = "Animal Species";

			// United States
			var in2 = document.createElement("INPUT");
			in2.id = "2";
			in2.placeholder = "Plural Noun";

			// perfect
			var in3 = document.createElement("INPUT");
			in3.id = "3";
			in3.placeholder = "Adjective";

			// Justice
			var in4 = document.createElement("INPUT");
			in4.id = "4";
			in4.placeholder = "Governmental Concept";

			// Tranquility
			var in5 = document.createElement("INPUT");
			in5.id = "5";
			in5.placeholder = "Emotional Concept";

			// defence
			var in6 = document.createElement("INPUT");
			in6.id = "6";
			in6.placeholder = "Noun";

			// Blessings
			var in7 = document.createElement("INPUT");
			in7.id = "7";
			in7.placeholder = "Plural Noun";

			// Liberty
			var in8 = document.createElement("INPUT");
			in8.id = "8";
			in8.placeholder = "Human Rights Concept";

			// Posterity
			var in9 = document.createElement("INPUT");
			in9.id = "9";
			in9.placeholder = "Noun (or Plural Noun)";

			// ordain
			var inA = document.createElement("INPUT");
			inA.id = "A";
			inA.placeholder = "Transitive Verb";

			// Constitution
			var inB = document.createElement("INPUT");
			inB.id = "B";
			inB.placeholder = "Document Name";

			// America
			var inC = document.createElement("INPUT");
			inC.id = "C";
			inC.placeholder = "Country";

			var element = document.getElementById("fields");
			element.appendChild(br);
			element.appendChild(in1);
			element.appendChild(br);
			element.appendChild(in2);
			element.appendChild(br);
			element.appendChild(in3);
			element.appendChild(br);
			element.appendChild(in4);
			element.appendChild(br);
			element.appendChild(in5);
			element.appendChild(br);
			element.appendChild(in6);
			element.appendChild(br);
			element.appendChild(in7);
			element.appendChild(br);
			element.appendChild(in8);
			element.appendChild(br);
			element.appendChild(in9);
			element.appendChild(br);
			element.appendChild(inA);
			element.appendChild(br);
			element.appendChild(inB);
			element.appendChild(br);
			element.appendChild(inC);
			break;
		case "declarationPreamble":

			// events
			var in1 = document.createElement("INPUT");
			in1.id = "1";
			in1.placeholder = "Plural Noun";
			
			// dissolve
			var in2 = document.createElement("INPUT");
			in2.id = "2";
			in2.placeholder = "Transitive Verb";
			
			// political
			var in3 = document.createElement("INPUT");
			in3.id = "3";
			in3.placeholder = "Adjective";
			
			// another
			var in4 = document.createElement("INPUT");
			in4.id = "4";
			in4.placeholder = "Group of People";
			
			// earth
			var in5 = document.createElement("INPUT");
			in5.id = "5";
			in5.placeholder = "Astronomical Body";

			// equal
			var in6 = document.createElement("INPUT");
			in6.id = "6";
			in6.placeholder = "Relational Operator";

			// Laws
			var in7 = document.createElement("INPUT");
			in7.id = "7";
			in7.placeholder = "Plural Legislative Noun";
			
			// Nature
			var in8 = document.createElement("INPUT");
			in8.id = "8";
			in8.placeholder = "Proper Noun";
			
			// God
			var in9 = document.createElement("INPUT");
			in9.id = "9";
			in9.placeholder = "Religious Figure";
			
			// opinions
			var inA = document.createElement("INPUT");
			inA.id = "A";
			inA.placeholder = "Plural Noun";

			var element = document.getElementById("fields");
			element.appendChild(br);
			element.appendChild(in1);
			element.appendChild(br);
			element.appendChild(in2);
			element.appendChild(br);
			element.appendChild(in3);
			element.appendChild(br);
			element.appendChild(in4);
			element.appendChild(br);
			element.appendChild(in5);
			element.appendChild(br);
			element.appendChild(in6);
			element.appendChild(br);
			element.appendChild(in7);
			element.appendChild(br);
			element.appendChild(in8);
			element.appendChild(br);
			element.appendChild(in9);
			element.appendChild(br);
			element.appendChild(inA);

			break;
			case "billPreamble":
			
			// states
			var in1 = document.createElement("INPUT");
			in1.id = "1";
			in1.placeholder = "Plural Noun";
			
			// constitution
			var in2 = document.createElement("INPUT");
			in2.id = "2";
			in2.placeholder = "Document Name";
			
			// restrictive
			var in3 = document.createElement("INPUT");
			in3.id = "3";
			in3.placeholder = "Adjective";
			
			// government
			var in4 = document.createElement("INPUT");
			in4.id = "4";
			in4.placeholder = "Governing Body";
			
			// beneficent
			var in5 = document.createElement("INPUT");
			in5.id = "5";
			in5.placeholder = "Adjective";
			
			// United States
			var in6 = document.createElement("INPUT");
			in6.id = "6";
			in6.placeholder = "Plural Noun";
			
			// America
			var in7 = document.createElement("INPUT");
			in7.id = "7";
			in7.placeholder = "Country";
			
			// two thirds
			var in8 = document.createElement("INPUT");
			in8.id = "8";
			in8.placeholder = "Fraction";
			
			// three fourths
			var in9 = document.createElement("INPUT");
			in9.id = "9";
			in9.placeholder = "Fraction";
			
			// Article
			var inA = document.createElement("INPUT");
			inA.id = "A";
			inA.placeholder = "Body of Writing";

			var element = document.getElementById("fields");
			element.appendChild(br);
			element.appendChild(in1);
			element.appendChild(br);
			element.appendChild(in2);
			element.appendChild(br);
			element.appendChild(in3);
			element.appendChild(br);
			element.appendChild(in4);
			element.appendChild(br);
			element.appendChild(in5);
			element.appendChild(br);
			element.appendChild(in6);
			element.appendChild(br);
			element.appendChild(in7);
			element.appendChild(br);
			element.appendChild(in8);
			element.appendChild(br);
			element.appendChild(in9);
			element.appendChild(br);
			element.appendChild(inA);
			break;

			case "hamlet":
			
			// question
			var in1 = document.createElement("INPUT");
			in1.id = "1";
			in1.placeholder = "Type of Sentence";
			
			// suffer
			var in2 = document.createElement("INPUT");
			in2.id = "2";
			in2.placeholder = "Intransitive Verb";
			
			// slings
			var in3 = document.createElement("INPUT");
			in3.id = "3";
			in3.placeholder = "Plural Noun";
			
			// arrows
			var in4 = document.createElement("INPUT");
			in4.id = "4";
			in4.placeholder = "Plural Noun";
			
			// troubles
			var in5 = document.createElement("INPUT");
			in5.id = "5";
			in5.placeholder = "Plural Noun";
			
			// die
			var in6 = document.createElement("INPUT");
			in6.id = "6";
			in6.placeholder = "Intransitive Verb";
			
			// sleep
			var in7 = document.createElement("INPUT");
			in7.id = "7";
			in7.placeholder = "Condition of the Soul";
			
			// heart-ache
			var in8 = document.createElement("INPUT");
			in8.id = "8";
			in8.placeholder = "Intransitive Verb";
			
			// dream
			var in9 = document.createElement("INPUT");
			in9.id = "9";
			in9.placeholder = "Noun";
			
			// mortal coil
			var inA = document.createElement("INPUT");
			inA.id = "A";
			inA.placeholder = "Feeling Towards Another Person";
			
			// respect
			var inB = document.createElement("INPUT");
			inB.id = "B";
			inB.placeholder = "Adjective";
			
			// long
			var inC = document.createElement("INPUT");
			inC.id = "C";
			inC.placeholder = "Adjective";
			
			// life
			var inD = document.createElement("INPUT");
			inD.id = "D";
			inD.placeholder = "Noun";

			var element = document.getElementById("fields");
			element.appendChild(br);
			element.appendChild(in1);
			element.appendChild(br);
			element.appendChild(in2);
			element.appendChild(br);
			element.appendChild(in3);
			element.appendChild(br);
			element.appendChild(in4);
			element.appendChild(br);
			element.appendChild(in5);
			element.appendChild(br);
			element.appendChild(in6);
			element.appendChild(br);
			element.appendChild(in7);
			element.appendChild(br);
			element.appendChild(in8);
			element.appendChild(br);
			element.appendChild(in9);
			element.appendChild(br);
			element.appendChild(inA);
			element.appendChild(br);
			element.appendChild(inB);
			element.appendChild(br);
			element.appendChild(inC);
			element.appendChild(br);
			element.appendChild(inD);

			break;
		default:
			break;
	}




    function displayDocument() {
        try { var value1=document.getElementById("1").value; } catch(err) {var value1=""} finally{}
        try { var value2=document.getElementById("2").value; } catch(err) {var value2=""} finally{}
        try { var value3=document.getElementById("3").value; } catch(err) {var value3=""} finally{}
        try { var value4=document.getElementById("4").value; } catch(err) {var value4=""} finally{}
        try { var value5=document.getElementById("5").value; } catch(err) {var value5=""} finally{}
        try { var value6=document.getElementById("6").value; } catch(err) {var value6=""} finally{}
        try { var value7=document.getElementById("7").value; } catch(err) {var value7=""} finally{}
        try { var value8=document.getElementById("8").value; } catch(err) {var value8=""} finally{}
        try { var value9=document.getElementById("9").value; } catch(err) {var value9=""} finally{}
        try { var valueA=document.getElementById("A").value; } catch(err) {var valueA=""} finally{}
        try { var valueB=document.getElementById("B").value; } catch(err) {var valueB=""} finally{}
        try { var valueC=document.getElementById("C").value; } catch(err) {var valueC=""} finally{}
        try { var valueD=document.getElementById("D").value; } catch(err) {var valueD=""} finally{}
        try { var valueE=document.getElementById("E").value; } catch(err) {var valueE=""} finally{}
        try { var valueF=document.getElementById("F").value; } catch(err) {var valueF=""} finally{}
        try { var valueG=document.getElementById("G").value; } catch(err) {var valueG=""} finally{}
        try { var valueH=document.getElementById("H").value; } catch(err) {var valueH=""} finally{}
        try { var valueI=document.getElementById("I").value; } catch(err) {var valueH=""} finally{}
        try { var valueJ=document.getElementById("J").value; } catch(err) {var valueJ=""} finally{}
        try { var valueK=document.getElementById("K").value; } catch(err) {var valueK=""} finally{}
        var queryString = decodeURIComponent(window.location.search);
        queryString += "&1=" + value1 + "&2=" + value2 + "&3=" + value3 + "&4=" + value4 + "&5=" + value5 + "&6=" + value6 + "&7=" + value7 + "&8=" + value8 + "&9=" + value9 + "&A=" + valueA + "&B=" + valueB + "&C=" + valueC + "&D=" + valueD + "&E=" + valueE + "&F=" + valueF + "&G=" + valueG + "&H=" + valueH + "&I=" + valueI + "&J=" + valueJ + "&K=" + valueK;
        window.location.href = "../documentDisplay/" + queryString;
    }
</script>
		<!-- </div>
	</div> -->
</div>
</body>
</html>
