<!DOCTYPE html>
<html>
<head>
<title>Acknowledgement</title>
</head>
<body>


<input type="text" id="1"><br>
<input type="text" id="2"><br>
<input type="text" id="3"><br>
<input type="text" id="4"><br>
<input type="text" id="5"><br>
<button onclick="myFunction()">Change History</button>


<script>
    function myFunction() {
        var value1=document.getElementById("1").value;
        var value2=document.getElementById("2").value;
        var value3=document.getElementById("3").value;
        var value4=document.getElementById("4").value;
        var value5=document.getElementById("5").value;
        var queryString = "?1=" + value1 + "&2=" + value2 + "&3=" + value3 + "&4=" + value4 + "&5=" + value5;
        window.location.href = "documentDisplay/" + queryString;
    }
</script> 
</body>
</html>